@page
@model gestione_magazzino.Pages.prodotti.IndexModel
@{
}

<h2>Visualizza prodotti </h2>
<p></p>
<div class="row">
    @foreach (var item in @Model.eleProdotto)
    {
        <div class="card" style="width: 18rem; margin-left:1rem">
            <div class="card-body">
                <h5 class="card-title">nome: @item.nome</h5>
                <h5 class="card-title">quantita: @item.quantita</h5>
                <h5 class="card-title">prezzo: @item.prezzo</h5>
                <h5 class="card-title">categoria: @item.categoria</h5>
                <h5 class="card-title">magazzino: @item.magazzino</h5>
                <h5 class="card-title">data: @item.data</h5>
                <h5 class="card-title">ID: @item.id</h5>
            </div>
            <a class="btn-danger" asp-page="./Delete" asp-route-id="@item.id">Elimina</a>
            <a class="btn-dark" asp-page="./Edit" asp-route-id="@item.id">Modifica</a>
        </div>
    }
</div>

